#page,
.region-bottom {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
#header {
	left: 0;
	right: 0;
}
#main {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
#content {
	margin: 1em 0;
}
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("/path/to/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* Containers for grid items and flow items. */
#header
#main,
#footer {
  *position: relative;
  *zoom: 1;
}
#header {
	min-height: 71px;
}
#header:before,
#header:after,
#main:before,
#main:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
#header:after,
#main:after,
#footer:after {
  clear: both;
}
/* Order Form */
.webform-component-fieldset,
.fieldset-wrapper {
	width: 280px;
}